---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1 class="logo">mundane bits</h1>
    <p class="tagline">from ordinary bits to extraordinary software</p>

    <div class="contact">
      <span>Mundane Bits OÜ</span>
      <span>Sepapaja 6</span>
      <span>15551 Tallinn</span>
      <span>Harju Maakond</span>
      <span>Estonia</span>
      <span>&nbsp;</span>
      <span>Registry Code: 17252510</span>
      <span>Registered in: Estonian Business Register</span>
      <span>VAT: waiting for registration</span>
      <span>&nbsp;</span>
      <span>Managing Director: Eric Teubert</span>
      <span>
        Email: <a href="mailto:mundanebits@ericteubert.de"
          >mundanebits@ericteubert.de</a
        >
      </span>
    </div>
  </div>
</Layout>
